:root {
  --bg-primary: #072F53;
  --bg-secondary: #F1F1F1;
  --bg-tertiary: #FFFFFF;

  --text-primary: #072F53;
  --text-secondary: #131313;
  --text-highlight: #FBC108;
  --text-tertiary: #FFFFFF;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
   font-family: "Source Sans 3", serif;
}